body{
	background-color: black;
}

#div{
	border: 5px solid red;
	background-color: lightgreen;
	display: grid;
	justify-content: center;
	align-items: center;
	/*width: 100%;*/
	padding: 5px;
	margin: 5px;
	margin-top: 4rem;
}

#labelRequest{
	grid-column: 1;
	margin: 5px;
}

#boundaryRequest{
 grid-column: 2;
 margin: 5px;
}