.container{
	display: grid; /*gives the website's body a grid like quality to ensure that everything looks good*/
	margin-top: 4rem; /*makes sure that the body doesnt interfere with the navigation bar at the top most scroll of the website*/
	padding-bottom: 15px;
	grid-template-columns: 1fr 1fr;
}
.select{
	display: inline-flex;
	padding: 5px;
	background-color: lightgreen;
	border: solid brown 5px;
}

#webcamText{
	margin: 5px;
}

body{
	background-color: black;
}

#mainStuff{
	display: grid;
	grid-column: 2;
	grid-row: 1;
}

#stuff2{
	display: inline-flex;
	padding: 10px;
	margin: 5px;
	justify-content: space-evenly;
	align-items: center;
	background-color: violet;
	border: solid red 5px;
	grid-column: 1;
	grid-row: 2;
}

#stuff1{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: lightblue;
	margin: 5px;
	border: solid purple 5px;
	padding: 10px;
	grid-column: 1;
	grid-row: 1;
}

#boundaryText{
	margin: 5px;
}

#boundaryDropDown{
	margin: 5px;
}

p{
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

video{
	border: solid blue 5px;
}

#webcam{
	grid-column: 1;
	grid-row: 1;
	margin: 5px;
}

video{
	max-height: 1000px;
	max-width: 1000px;
}

#webcamText{
	margin: 5px;
}

#videoSourceDiv{
	justify-content: center;
	align-items: center;
	grid-column: 1;
	grid-row: 3;
	margin: 5px;
}

#videoSource{
	margin: 5px;
	max-width: 100px;
}


#canvas{
	grid-row: 2;
	grid-column: 2;
}

#clickPhotoContainer{
	grid-column: 1;
	grid-row: 2;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

#click-photo{
	/*max-width: 200px;*/
	/*max-height: 100px;*/
}
	